.task-complete {
  text-decoration: line-through;
}

.mt-20 {
  margin-top: 20px;
}
.ml-20 {
  margin-left: 20px;
}

.border {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px 15px;
}

label {
  flex: 1;
  flex-direction: column;
}
label > p {
  margin: 0;
}

.row {
  flex: 1;
  flex-direction: row;
  display: flex;
}

.row > * {
  flex: 1
}